.floorplans-container {
    margin-bottom: 100px;
}

.residences_cover_image {
    width: 100%;
}

.residences-feature-title {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #AA9580;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.features-carousel-section {
    padding: 50px 0;
    text-align: center;
}

.feature-item {
    position: relative;
}

.feature-caption {
    padding: 20px;
    text-align: center;
}

.feature-caption h4 {
    color: #AA9580;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
}

.feature-caption p {
    font-size: 1rem;
    color: #241C23;
    width: 50%;
    margin: 0 auto;
    font-weight: 400;
}

.feature-item img {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
}

.feature-carousel {
    width: 90%;
    margin: 0 auto;
}

/* Positioning the arrows */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 2;  /* Make sure arrows are above the image */
}

.carousel-control-prev {
    left: 0;  /* Move left arrow to the left side of the caption */
}

.carousel-control-next {
    right: 0;  /* Move right arrow to the right side of the caption */
}

/* Optional: Styling the arrows themselves */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: 50%;
}

.floorplans-heading-text {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #AA9580;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    /* width: 30%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #AA9580;
    text-decoration: underline;
    text-underline-offset: 10px; */
}

.floorplan-subtext {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
}

.floorplans-card {
    border-radius: 0;
}

.button-wrapper {
    margin: 50px;
}

.floorplans-row {
    width: 90%;
    margin: 0 auto;
}

.floorplans-card-img {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.floorplans-card-text {
    text-align: center;
    margin: 25px auto;
}

.floorplans-card-icon {
    font-size: 2rem;
    margin-right: 10px;
    color: #241C23;
}

.floorplans-card-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #241C23;
}

.floorplans-card-text-span {
    font-size: 1rem;
    margin: 50px;
}

.floorplans-card-btn {
    border-radius: 0;
    height: 50px;
    background-color: #AA9580;
    font-weight: 700;
    border: none;
}

.floorplans-card-btn:hover {
    background-color: white;
    color: #AA9580;
    border: 1px solid #AA9580;
}

/* Full-Screen Modal Styles */
.residences-information-modal .modal-dialog {
    margin: 0;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .residences-information-modal .modal-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .residences-information-modal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
  }

/* Mobile Styles */
@media (max-width: 1200px) {
    .residences_cover_image {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 992px) {
    .residences_cover_image {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .residences_cover_image {
        width: auto;
        height: 100%;
    }
    .floorplans-heading-text {
        width: 80%;
    }

    .floorplan-subtext {
        width: 75%;
    }
}