/* ResidencesModal.css */
.modal-body {
    padding: 0;
}

.residences-information-modal .modal-dialog {
    margin: 1.75rem auto;
    width: 90%;
}

.residences-information-modal .modal-content {
    border-radius: 12px;
    overflow: hidden;
}

.floorplan-modal-grid {
    display: flex;
    flex-wrap: wrap;
}

.floorplan-modal-info {
    background-color: #4A6670;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    text-align: center;
}

.floorplan-info-type {
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.floorplan-info-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.floorplan-info-buttons .btn {
    width: 225px;
}

.floorplan-modal-gallery {
    padding: 0;
}

.floorplan-modal-gallery img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image-gallery-image  {
    max-height: 515px !important;
}

.residences-modal-apply-now {
    border-radius: 25px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
}

.residences-modal-apply-now:hover {
    background-color: white;
    border: 1px solid #4A6670;
    color: #4A6670
}

.residences-modal-book-tour {
    border-radius: 25px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
}

.residences-modal-book-tour:hover {
    background-color: white;
    border: 1px solid #4A6670;
    color: #4A6670
}

.image-gallery-svg {
    height: 60px !important;
    width: 60px !important;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .floorplan-modal-info,
    .floorplan-modal-gallery {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .floorplan-modal-info {
        padding: 1.5rem;
        text-align: center;
        align-items: center;
    }
}
