.floorplans-container {
    margin-bottom: 100px;
}

.residences_cover_image {
    width: 100%;
    height: 100%;
}

.floorplans-heading-text {
    width: 30%;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #AA9580;
    border-bottom: 3px solid #AA9580;
}

.floorplan-subtext {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
}

.floorplans-card {
    border-radius: 0;
}

.button-wrapper {
    margin: 50px;
}

.floorplans-row {
    width: 90%;
    margin: 0 auto;
}

.floorplans-card-img {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.floorplans-card-text {
    text-align: center;
    margin: 25px auto;
}

.floorplans-card-icon {
    font-size: 2rem;
    margin-right: 10px;
    color: #241C23;
}

.floorplans-card-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #241C23;
}

.floorplans-card-text-span {
    font-size: 1rem;
    margin: 50px;
}

.floorplans-card-btn {
    border-radius: 0;
    height: 50px;
    background-color: #AA9580;
    font-weight: 700;
    border: none;
}

.floorplans-card-btn:hover {
    background-color: white;
    color: #AA9580;
    border: 1px solid #AA9580;
}

/* Full-Screen Modal Styles */
.residences-information-modal .modal-dialog {
    margin: 0;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .residences-information-modal .modal-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .residences-information-modal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
  }

/* Mobile Styles */
@media (max-width: 1200px) {
    .residences_cover_image {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 992px) {
    .residences_cover_image {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .residences_cover_image {
        width: auto;
        height: 100%;
    }
    .floorplans-heading-text {
        width: 80%;
    }

    .floorplan-subtext {
        width: 75%;
    }
}