.home-container {
    height: 100vh;
    width: 100vw;
}

.contact-us-home-btn {
    /* font-family: -apple-system, BlinkMacSystemFont, "ofelia-text", sans-serif;
    padding: 0.4rem 1.3rem;
    background-color: #649FB9;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color .5s ease;
    margin-left: 10px;
    border-radius: 0%; */
    font-family: -apple-system, BlinkMacSystemFont, "ofelia-text", sans-serif;
    padding: 0.4rem 1.3rem;
    background-color: #649FB9;
    border: 1px solid white;
    color: white;
    font-size: 0.75rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    border-radius: 0%;
  }

  .contact-us-home-btn:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }


  .book-tour-home-btn {
    /* font-family: -apple-system, BlinkMacSystemFont, "ofelia-text", sans-serif;
    padding: 0.4rem 1.3rem;
    background-color: #649FB9;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color .5s ease;
    margin-left: 100px;
    border-radius: 0%; */
    font-family: -apple-system, BlinkMacSystemFont, "ofelia-text", sans-serif;
    padding: 0.4rem 1.3rem;
    background-color: #649FB9;
    border: 1px solid white;
    color: white;
    font-size: 0.75rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    border-radius: 0%;
  }

  .book-tour-home-btn:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }

  .home-video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .home-video-video-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .home-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 28, 35, 0.5);
  }
  
  .home-overlay-text {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    width: 50vw;
    float: left;
  }
  
  .home-text {
    margin-left: 100px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "ofelia-text", sans-serif;
    font-size: 6rem;
    font-weight: 400;
    width: 100%;
    white-space: nowrap; /* Prevents the text from wrapping */
  }

  .home-overlay-text span {
    display: inline-block; /* Ensures each letter is displayed inline */
  }

  #typewriter {
    margin-left: 100px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 12rem;
    font-weight: 400;
    width: 100%;
    white-space: nowrap; /* Prevents the text from wrapping */
    line-height: 150px;
    margin-bottom: 50px;
  }


  /* Mobile Styles */
@media (max-width: 1200px) {
  
  
}

@media (max-width: 992px) {
  .contact-us-main-text {
    font-size: 4rem; /* Adjust size for smaller screens */
  }
  .contact-us-column {
      width: 60vw;
  }
  
}

@media (max-width: 576px) {
  .contact-us-home-btn {
    margin: 0 auto;
  }
  .contact-us-column {
      width: 80vw;
  }
  
}