.amenities-information-page-highlight-title {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #AA9580;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.amenities-information-page-section-1-row {
    margin-bottom: 50px;
}

.amenities-information-grid-img-comtainer {
    padding: 0 !important;
    min-height: 600px;
}

.amenities-information-grid-img {
    height: 100%;
    width: 100%;
    padding: 0;
}

.amenities-information-grid-text-container {
    padding: 0 !important;
}

.amenities-information-grid-text {
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-size: 1rem;
    font-weight: 400;
    color: #241C23;
}

.amenities-information-grid-title-text {
    color: #241C23;
    border-bottom: 1px solid #241C23;
    font-family: 'Lato', sans-serif;
    align-items: flex-start;
    font-size: 1.5rem;
    width: 100%;
    font-weight: 700;
}

.amenities-information-page-grid-blocks-col {
    margin: 0 !important;
    padding: 0 !important;
    height: 400px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.amenities-information-page-grig-img {
    height: 100%;
    width: 100%;
}

.amenities-information-highlight-row {
    max-height: 550px;
    margin-bottom: 50px;
}

.amenitities-information-page-cover-img {
    height: 100%;
    width: 100%;
}

.amenities-highlight-text-left {
    padding: 150px;
}

.amenities-highlight-text-left h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #AA9580;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.amenities-highlight-text-left p {
    font-size: 1.25em;
}

.amenities-highlight-text-right {
    padding: 150px;
}

.amenities-highlight-text-right h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #AA9580;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.amenities-highlight-text-right p {
    font-size: 1.25rem;
}

.amenities-highlight-image-container-left {
    background-color: #AA9580;
    height: 50%;
}

.amenities-highlight-image-container-left img {
    float: right;
    height: 90%;
    margin-top: 25px;
    margin-right: -50px;
}

.amenities-highlight-image-container-right {
    background-color: #AA9580;
    height: 50%;
}

.amenities-highlight-image-container-right img {
    float: left;
    height: 90%;
    margin-top: 25px;
    margin-left: -50px;
}

.amenities-information-page-list-title {
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #AA9580;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 50px; 
    margin-top: 50px;
}

.amenities-information-page-list-container {
    width: 95%;
    margin: 25px auto;
    padding: 25px;
    background-color: #CEC4AC;
    color: #5F4A35;
    font-size: 1rem;
    font-weight: 400;
}

.amenities-information-page-list-row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.amenities-image-gallery-row {
    padding: 45px;
}

.amenities-image-gallery-image {
    border-radius: 0;
}