.book-a-tour-container {
    height: 100vh;
    margin-top: 125px;
}

/* Mobile Styles */
@media (max-width: 1200px) {
    .book-a-tour-container {
        margin-top: 125px;
    }
}

@media (max-width: 992px) {
    .book-a-tour-container {
        margin-top: 125px;
    }
}

@media (max-width: 576px) {
    .book-a-tour-container {
        margin-top: 200px;
    }
}