#amenities {
    height: 100vh;
    width: 100vw;
    padding-top: 100px; /* Space for the navbar */
    background-color: white;
    position: relative;
    overflow: hidden;
    z-index: -2;
}

.amenities-home-section-row {
    height: 100%;
    flex-wrap: wrap;
}

.amenities-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 700px;
    aspect-ratio: 1 / 1;
    filter: grayscale(100%);
  }

  .amenities-image-grid img:hover {
    filter: grayscale(0%);
  }
  
  .amenities-image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.amenities-text-column,
.amenities-home-section-image-column {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amenities-home-section-text-container {
    padding: 50px;
    max-width: 800px;
    text-align: left;
}

.amenities-home-section-main-text {
    margin-top: 15px;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #4A6670;
}

.amenities-home-section-main-text span {
    color: transparent;
    -webkit-text-stroke: 2px #888;
}

.amenities-pre-text {
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.75rem;
    font-style: italic;
}

.amenities-home-section-description {
    font-size: 1.15rem;
    margin-top: 15px;
    font-weight: 200;
}

.amenities-home-section-button {
    margin-top: 5px;
    border-radius: 25px;
    background-color: #4A6670;
    padding: 15px 30px;
    border: none;
    font-weight: 700;
}

.amenities-home-section-button:hover {
    background-color: transparent;
    border: 1px solid #4A6670;
    color: #4A6670;
}

/* RESPONSIVE STYLING */
@media (max-width: 991px) {
    .amenities-home-section-text-container {
        padding: 30px;
    }

    .amenities-home-section-main-text {
        font-size: 2.5rem;
    }

    .amenities-home-section-description {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .amenities-home-section-row {
        flex-direction: column;
    }

    .amenities-text-column,
    .amenities-home-section-image-column {
        height: auto;
        padding: 2rem 1rem;
    }

    .amenities-home-section-main-text {
        font-size: 3rem;
        margin-top: 0;
    }

    .amenities-pre-text {
        font-size: 0.65rem;
        letter-spacing: 2px;
    }

    .amenities-home-section-description {
        font-size: 0.95rem;
        margin-top: 10px;
    }

    .amenities-home-section-text-container {
        text-align: center;
    }

    #amenities {
        padding-top: 125px;
    }
    
}
