.footer-container {
    min-height: 40vh;
    width: 100vw;
    background-color: #241C23 !important;
    color: white;
}

.footer-visit-us {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: start;
}

.footer-title {
    font-size: .75rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    letter-spacing: 5px;
}

.footer-title-content {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-contact-us {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: start;
}

.footer-contact-us-content {
    font-size: .75rem;
    font-weight: 700;
}

.footer-contact-us-content a {
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.footer-follow-us {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: start;
}

.footer-follow-us a{
    font-size: .75rem;
    margin-right: 25px;
}

.footer-logo {
    height: 40px;
}

.privacy-policy-link {
    color: white;
}

.footer-icon {
    color: white;
}

.footer-rights {
    font-size: .75rem;
}

/* Mobile Styles */
@media (max-width: 1200px) {
    .footer-logo {
        height: 75px;
    }
}

@media (max-width: 992px) {
    .footer-logo {
        height: 50px;
    }
}

@media (max-width: 576px) {
    .footer-logo {
        height: 50px;
    }
}