.footer-container {
    height: 50vh;
    width: 100vw;
    background-color: #050505 !important;
    color: white;
}

.footer-logo {
    height: 75px;
    margin-bottom: 50px !important;
}

.footer-address {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-phone-number a {
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-email a {
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-hours {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}

.footer-rights {
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 50px;
    color: #D0D3D4;
}

/* Mobile Styles */
@media (max-width: 1200px) {
    .footer-logo {
        height: 75px;
        margin-bottom: 50px !important;
    }
}

@media (max-width: 992px) {
    .footer-logo {
        height: 50px;
        margin-bottom: 50px !important;
    }
}

@media (max-width: 576px) {
    .footer-logo {
        height: 50px;
        margin-bottom: 50px !important;
    }
}