.footer-container {
    min-height: 40vh;
    width: 100vw;
    background-color: #4A6670 !important;
    color: white;
}

.footer-logo {
    height: 50px;
}

.footer-address {
    font-family: -apple-system, BlinkMacSystemFont, "ofelia-text", sans-serif;
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    letter-spacing: 5px;
}

.footer-contact-information a {
    color: white;
    font-size: .8rem;
    text-decoration: none;
}

.footer-hours p {
    margin: 0;
    font-size: .8rem;
}

.privacy-policy-link {
    color: white;
}

.footer-icon {
    color: white;
}

.footer-rights {
    margin-top: 50px;
    font-size: .75rem;
}

/* Mobile Styles */
@media (max-width: 1200px) {
    .footer-logo {
        height: 50px;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .footer-icon {
        margin-top: 40px;
        color: white;
    }
}

@media (max-width: 992px) {
    .footer-logo {
        height: 40px;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .footer-icon {
        margin-top: 40px;
        color: white;
    }

    .footer-rights {
        padding-left: 50px;
        padding-right: 50px;
     }
}

@media (max-width: 576px) {
    .footer-address {
        width: 60%;
    }

    .footer-logo {
        height: 50px;
        margin-top: 50x !important;
        margin-bottom: 50px !important;
    }

    .footer-icon {
        margin-top: 40px;
        color: white;
    }

    .footer-rights {
       padding-left: 50px;
       padding-right: 50px;
    }
}