.announcement-bar-container {
    background-color: #A0C1D1;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: .75rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  .announcement-bar-text {
    margin: 0;
    font-weight: 700;
    color: white;
    font-size: 1rem;
    line-height: 15px;
  }

  .announcement-bar-link {
    text-decoration: none;
    color: inherit;
  }


/* Mobile Styles */
@media (max-width: 1200px) {
 
}

@media (max-width: 992px) {
  /* Mobile Styles */
  .announcement-bar-container {
    padding: 10px;
    font-size: .60rem;
  }
}

@media (max-width: 576px) {
  /* Mobile Styles */
  .announcement-bar-container {
    padding: 5px;
    font-size: .60rem;
  }

  .announcement-bar-text {
    font-size: .75rem;
    line-height: 25px;
  }
}