.information-page-hero-container {
    height: 100vh;
    width: 100vw;
    /* margin-bottom: 50px; */
}

.information-page-hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.information-page-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 28, 35, .5);
}

.information-page-title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 3px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.information-page-sub-text {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    margin-top: 75px;
    
}

/* Mobile Styles */
@media (max-width: 1200px) {
    .information-page-title {
        font-size: 1rem;
    }

    .information-page-sub-text {
        margin-top: 75px;
        font-size: 1.75rem;
        width: 50%;
    }
  }
  
  @media (max-width: 992px) {
    .information-page-title {
        font-size: 1rem;
    }

    .information-page-sub-text{
        margin-top: 75px;
        font-size: 1.75rem;
        width: 90%;
    }
  }
  
  @media (max-width: 576px) {
    .information-page-title {
        font-size: 1rem;
    }

    .information-page-sub-text{
        margin-top: 75px;
        font-size: 1.5rem;
        width: 90%;

    }
  }